.btn-time-break button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.btn-time-break button:hover {
    background-color: orange;

}

.btn-time-break {
    margin: 20px;
}

.movie-cart-container {
    margin: 10px;
    position: sticky;
}

.cart-picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart-picture img {
    width: 100px;
    height: 70px;
}